[submodule "visualizations/atom"]
	path = visualizations/atom
	url = git@github.com:s4njee/atom.git
[submodule "visualizations/matrix"]
	path = visualizations/matrix
	url = git@github.com:s4njee/matrix-3js.git
[submodule "visualizations/monolith"]
	path = visualizations/monolith
	url = git@github.com:s4njee/s8njee.git
